beautifulsoup4
blinker
build
certifi
charset-normalizer
click
colorama
distlib
dnspython
filelock
Flask
idna
itsdangerous
Jinja2
MarkupSafe
packaging
platformdirs
pymongo
pyproject_hooks
python-dotenv
requests
setuptools
soupsieve
urllib3
virtualenv
Werkzeug
